<!-- <p-galleria [images]="images" panelWidth="500" panelHeight="313" [showCaption]="true"></p-galleria> -->

<img src="assets/dist/img/credit/visa.png" alt="Visa">

<img src="assets/dist/img/credit/mastercard.png" alt="Visa">
<br>
<br>
<div class="col-sm-6">
  <button class="btn btn-success" (click)="creerMastercard()">Demander votre Master Card</button>


</div>

<br>
<div>
  Vous êtes titulaire d’un compte chez notre banque ?

  Vous souhaitez bénéficier d’un moyen de paiement vous permettant de disposer de vos fonds librement en France ou à l’étranger?

  La Carte VISA ou MasterCard Classique vous permet de disposer de vos fonds librement et en toute sécurité pour tout paiement ou retrait en France si vous optez pour la carte nationale et à l’étranger si vous choisissez la carte internationale.




</div>
<br>

<div class="card card-info">
  <div class="card-header">
    <h3 class="card-title">Demandes des cartes en cours de traitement.....</h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
        <i class="fas fa-minus"></i></button>
    </div>
  </div>
  <div class="card-body p-0">
    <table class="table">
      <thead>
        <tr>
          <th>Nom client</th>
          <th>Type de carte</th>
          <th>progress</th>


        </tr>
      </thead>
      <tbody>

        <tr>
          <td>Yassino Traoré</td>
          <td>Silver</td>
          <td>
            <div class="progress progress-xs">
              <div class="progress-bar bg-warning" style="width: 70%"></div>
              </div>
           </td>
          <td class="text-right py-0 align-middle">
            <div class="btn-group btn-group-sm">
              <button type="button" class="btn btn-success float-right"><i class="far fa-credit-card"></i> Valider
              </button>
              &nbsp;
              &nbsp;
              <a href="#" class="btn btn-info"><i class="fas fa-eye"></i></a>
              <a href="#" class="btn btn-danger"><i class="fas fa-trash"></i></a>


            </div>
          </td>
        </tr> <tr>
          <td>Oussema ayari</td>
          <td>Gold</td>
          <td>
            <div class="progress progress-xs">
              <div class="progress-bar bg-warning" style="width: 70%"></div>
              </div>
           </td>
          <td class="text-right py-0 align-middle">
            <div class="btn-group btn-group-sm">
              <button type="button" class="btn btn-success float-right"><i class="far fa-credit-card"></i> Valider
              </button>
              &nbsp;
              &nbsp;
              <a href="#" class="btn btn-info"><i class="fas fa-eye"></i></a>
              <a href="#" class="btn btn-danger"><i class="fas fa-trash"></i></a>
            </div>
          </td>
        </tr><tr>
          <td>3thimin</td>
          <td>Oxygene</td>
          <td>
            <div class="progress progress-xs">
              <div class="progress-bar bg-warning" style="width: 70%"></div>
              </div>
           </td>
          <td class="text-right py-0 align-middle">
            <div class="btn-group btn-group-sm">
              <button type="button" class="btn btn-success float-right"><i class="far fa-credit-card"></i> Valider
              </button>
              &nbsp;
              &nbsp;
              <a href="#" class="btn btn-info"><i class="fas fa-eye"></i></a>
              <a href="#" class="btn btn-danger"><i class="fas fa-trash"></i></a>
            </div>
          </td>
        </tr><tr>
          <td>zied guendil</td>
          <td>Gold</td>
          <td>
            <div class="progress progress-xs">
              <div class="progress-bar bg-warning" style="width: 70%"></div>
              </div>
           </td>
          <td class="text-right py-0 align-middle">
            <div class="btn-group btn-group-sm">
              <button type="button" class="btn btn-success float-right"><i class="far fa-credit-card"></i> Valider
              </button>
              &nbsp;
              &nbsp;
              <a href="#" class="btn btn-info"><i class="fas fa-eye"></i></a>
              <a href="#" class="btn btn-danger"><i class="fas fa-trash"></i></a>
            </div>
          </td>
        </tr><tr>
          <td>Omar</td>
          <td>Oxygene</td>
          <td>
          <div class="progress progress-xs progress-striped active">
            <div class="progress-bar bg-primary" style="width: 30%"></div>
          </div>
        </td>
          <td class="text-right py-0 align-middle">
            <div class="btn-group btn-group-sm">
              <button type="button" class="btn btn-success float-right"><i class="far fa-credit-card"></i> Valider
              </button>
              &nbsp;
              &nbsp;
              <a href="#" class="btn btn-info"><i class="fas fa-eye"></i></a>
              <a href="#" class="btn btn-danger"><i class="fas fa-trash"></i></a>
            </div>
          </td>

      </tr></tbody>
    </table>
  </div>
  <!-- /.card-body -->
</div>



