
je suis entrain de patcher cet objet 
{
    "id": "66447ddd3df0396f1feef9ac",
    "origineCreation": null,
    "dateCreation": "2024-05-15T11:18:21",
    "origineModification": null,
    "dateModification": "2024-05-15T11:18:21",
    "idFinancement": "F66J4K757",
    "objetFinancement": {
        "id": null,
        "origineCreation": null,
        "dateCreation": "2024-05-15T11:18:21",
        "origineModification": null,
        "dateModification": "2024-05-15T11:18:21",
        "idObjetFinancement": "OR2QKLCS6",
        "codeObjetFinancement": "02",
        "quotePartObjet": 50.0,
        "codeFamilleObjet": null,
        "gainCEP": null,
        "dateFinTravaux": null,
        "bien": {
            "id": null,
            "origineCreation": null,
            "dateCreation": "2024-05-15T11:18:21",
            "origineModification": null,
            "dateModification": "2024-05-15T11:18:21",
            "idBien": "BGKD23IZC",
            "codeBatiment": null,
            "codeNormeThermique": null,
            "typeBatiment": "Appartement",
            "codeTypeBatiment": null,
            "numeroVoie": null,
            "typeVoie": null,
            "nomRue": null,
            "etatBien": null,
            "typeEnergie": "Gazoil",
            "codeTypeEnergie": null,
            "batiment": null,
            "escalier": null,
            "etage": null,
            "porte": null,
            "codePostal": "75011",
            "nomCommune": "Paris",
            "paysBien": "France",
            "adresseComplete": "71 Boulevard Richard Leroy",
            "codeDepartement": null,
            "codeInseeCommune": null,
            "numeroLot": null,
            "numeroNomRue": null,
            "typeUsage": null,
            "anneeConstruction": null,
            "periodeConstruction": null,
            "dateDepotPc": null,
            "dateDebutConstruction": null,
            "surfaceBien": 150.0,
            "bienFinanceLCL": true,
            "numeroFiscalLocal": null,
            "coordonneeCartographiqueX": null,
            "coordonneeCartographiqueY": null,
            "prixBien": 1000000.0,
            "montantFinanceLCL": 500000.0,
            "partLCL": 50.0,
            "dpeActuel": {
                "id": null,
                "origineCreation": null,
                "dateCreation": "2024-05-15T11:18:21",
                "origineModification": null,
                "dateModification": "2024-05-15T11:18:21",
                "idDpe": null,
                "numeroDpe": "2125E0981916Z",
                "codeModeleDpeType": null,
                "estimationCep": 45.0,
                "classeCep": "A",
                "estimationGes": 690.0,
                "classeGes": "C",
                "dateEtablissementDpe": "2021-06-15T00:00:00.000+00:00",
                "dateReceptionDpe": null,
                "dateFinValiditeDpe": "2031-06-16T00:00:00.000+00:00",
                "sirenDiagnostiqueur": "123456789",
                "modelDpe": null,
                "numeroDpeRemplace": null,
                "versionDpe": null,
                "methodeDpeApplique": null
            }
        },
        "dpeAvantTravaux": null,
        "dpeApresTravaux": null,
        "alignement": null,
        "eligibilite": null,
        "garantie": [
            {
                "id": null,
                "origineCreation": null,
                "dateCreation": "2024-05-15T11:18:21",
                "origineModification": null,
                "dateModification": "2024-05-15T11:18:21",
                "idGarantie": "G1PJII1FN",
                "typeObjetGarantie": null,
                "bien": {
                    "id": null,
                    "origineCreation": null,
                    "dateCreation": "2024-05-15T11:18:21",
                    "origineModification": null,
                    "dateModification": "2024-05-15T11:18:21",
                    "idBien": "BY7FL8Q51",
                    "codeBatiment": "00001",
                    "codeNormeThermique": null,
                    "typeBatiment": "Appartement",
                    "codeTypeBatiment": null,
                    "numeroVoie": null,
                    "typeVoie": null,
                    "nomRue": null,
                    "etatBien": "Neuf",
                    "typeEnergie": null,
                    "codeTypeEnergie": null,
                    "batiment": null,
                    "escalier": null,
                    "etage": null,
                    "porte": null,
                    "codePostal": "75012",
                    "nomCommune": "Paris",
                    "paysBien": "France",
                    "adresseComplete": "2 rue de bercy",
                    "codeDepartement": null,
                    "codeInseeCommune": null,
                    "numeroLot": null,
                    "numeroNomRue": null,
                    "typeUsage": null,
                    "anneeConstruction": null,
                    "periodeConstruction": null,
                    "dateDepotPc": null,
                    "dateDebutConstruction": null,
                    "surfaceBien": null,
                    "bienFinanceLCL": false,
                    "numeroFiscalLocal": null,
                    "coordonneeCartographiqueX": null,
                    "coordonneeCartographiqueY": null,
                    "prixBien": 200000.0,
                    "montantFinanceLCL": 0.0,
                    "partLCL": 0.0,
                    "dpeActuel": {
                        "id": null,
                        "origineCreation": null,
                        "dateCreation": "2024-05-15T11:18:21",
                        "origineModification": null,
                        "dateModification": "2024-05-15T11:18:21",
                        "idDpe": null,
                        "numeroDpe": null,
                        "codeModeleDpeType": null,
                        "estimationCep": null,
                        "classeCep": null,
                        "estimationGes": null,
                        "classeGes": null,
                        "dateEtablissementDpe": null,
                        "dateReceptionDpe": null,
                        "dateFinValiditeDpe": null,
                        "sirenDiagnostiqueur": null,
                        "modelDpe": null,
                        "numeroDpeRemplace": null,
                        "versionDpe": null,
                        "methodeDpeApplique": null
                    }
                },
                "topAlignement": null,
                "topEligibilite": null
            },
            {
                "id": null,
                "origineCreation": null,
                "dateCreation": "2024-05-15T11:18:21",
                "origineModification": null,
                "dateModification": "2024-05-15T11:18:21",
                "idGarantie": "G47ESX3BZ",
                "typeObjetGarantie": null,
                "bien": {
                    "id": null,
                    "origineCreation": null,
                    "dateCreation": "2024-05-15T11:18:21",
                    "origineModification": null,
                    "dateModification": "2024-05-15T11:18:21",
                    "idBien": "B39ISD4SS",
                    "codeBatiment": null,
                    "codeNormeThermique": null,
                    "typeBatiment": "Appartement",
                    "codeTypeBatiment": null,
                    "numeroVoie": null,
                    "typeVoie": null,
                    "nomRue": null,
                    "etatBien": null,
                    "typeEnergie": "Gazoil",
                    "codeTypeEnergie": null,
                    "batiment": null,
                    "escalier": null,
                    "etage": null,
                    "porte": null,
                    "codePostal": "75011",
                    "nomCommune": "Paris",
                    "paysBien": "France",
                    "adresseComplete": "71 Boulevard Richard Leroy",
                    "codeDepartement": null,
                    "codeInseeCommune": null,
                    "numeroLot": null,
                    "numeroNomRue": null,
                    "typeUsage": null,
                    "anneeConstruction": null,
                    "periodeConstruction": null,
                    "dateDepotPc": null,
                    "dateDebutConstruction": null,
                    "surfaceBien": null,
                    "bienFinanceLCL": true,
                    "numeroFiscalLocal": null,
                    "coordonneeCartographiqueX": null,
                    "coordonneeCartographiqueY": null,
                    "prixBien": 1000000.0,
                    "montantFinanceLCL": 500000.0,
                    "partLCL": 50.0,
                    "dpeActuel": {
                        "id": null,
                        "origineCreation": null,
                        "dateCreation": "2024-05-15T11:18:21",
                        "origineModification": null,
                        "dateModification": "2024-05-15T11:18:21",
                        "idDpe": null,
                        "numeroDpe": "2125E0981916Z",
                        "codeModeleDpeType": null,
                        "estimationCep": 45.0,
                        "classeCep": "A",
                        "estimationGes": 690.0,
                        "classeGes": "C",
                        "dateEtablissementDpe": "2021-06-15T00:00:00.000+00:00",
                        "dateReceptionDpe": null,
                        "dateFinValiditeDpe": "2031-06-16T00:00:00.000+00:00",
                        "sirenDiagnostiqueur": "123456789",
                        "modelDpe": null,
                        "numeroDpeRemplace": null,
                        "versionDpe": null,
                        "methodeDpeApplique": null
                    }
                },
                "topAlignement": null,
                "topEligibilite": null
            }
        ],
        "piecesJustificatives": null,
        "statut": 0
    },
    "alignement": null,
    "eligibilite": null,
    "eligibleDpe": null,
    "intervenant": {
        "id": null,
        "origineCreation": null,
        "dateCreation": "2024-05-15T11:18:21",
        "origineModification": null,
        "dateModification": "2024-05-15T11:18:21",
        "idIntervenant": null,
        "idReper": [
            "1245887962"
        ]
    },
    "indicateurFinancementDedie": null,
    "indicateurNatureDurable": null,
    "typeRisqueClimatiqueAttenue": null,
    "codeApplicatifOrigine": "01",
    "indicateurReprise": false,
    "statut": 0,
    "agenceCompte": "003800000056968N"
}
////
je patch uniquement la surface mais je veux le service me garde les ancien valeur comme  "codePostal": "75011",
                    "nomCommune": "Paris",
                    "paysBien": "France",
                    "adresseComplete": "71 Boulevard Richard Leroy",
//
{
  "objetFinancement":
  {
    "bien":
    {
        "surfaceBien":200.0
    }
  }
   
}
sauf que la méthode que vous m'avez fournit ne patch pas bien elle modifie les valeur existant du bien a null alors que c'est pas le resultat souhaité vous pouvez me réimplementer le service pour qu'il patch uniquement le champs en question dans l'objet imbriqué et garder les anciennes valeurs 
