@Repository
public class BienRepositoryImp implements BienRepositoryCustom {

    @Autowired
    MongoTemplate mongoTemplate;

    @Autowired
    BienMapper bienMapper;

    @Override
    public List<BienDto> findBienByIntervenantIdReper(List<String> ids) {
        // Créer une requête pour récupérer les financements par ids des intervenants
        Query query = new Query();
        query.addCriteria(Criteria.where("intervenant.idReper").in(ids));

        // Exécuter la requête et obtenir la liste des financements
        List<Financement> financements = mongoTemplate.find(query, Financement.class);

        // Parcourir les financements pour extraire les biens
        return financements.stream()
                .flatMap(financement -> financement.getObjetFinancement().stream())
                .map(ObjetFinancement::getBien)
                .filter(bien -> bien.getTypeBatiment() != null && bien.getAdresseComplete() != null)
                .map(bienMapper::convertBientoDto)
                .collect(Collectors.toList());
    }
}
