 <div class="form-group" >
                  <label for="select2">Type de bâtiment </label>
                  <select class="form-control form-control-sm"  (mouseover)="showDescription($event.target.value)" id="select2" [(ngModel)]="selectedType">
                    <option value='option1'  > Bien soumis au DPE  </option>
                    <option value='option2' > Construction provisoire (durée d'utilisation ≤ 2 ans)  </option>
                     <option value='option3' > Bâtiment indépendant avec superficie <50 m² </option>
                    <option value='option4' > Usage agricole, artisanal ou industriel</option>
                    <option value='option5' >Lieux de culte </option>
                    <option value='option6' >Monument historique classé </option>
                    <option value='option7' >Bâtiment non chauffé  </option>
                    <option value='option8' >Utilisation < 4 mois/an </option>
                    <option value='option9' > Bâtiment situé dans les DOM-TOM</option>
                    <option value='option10' > Bâtiment situé à l'étranger </option> 
            
                  </select>
                </div>
