

<div class="wrapper">

  <!-- Navbar -->
  <app-navbar></app-navbar>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->


    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- /.sidebar -->


  <!-- Content Wrapper. Contains page content -->
  <app-content></app-content>
  <!-- /.content-wrapper -->
  <app-footer></app-footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
