<aside class="main-sidebar sidebar-dark-primary elevation-4">

  <!-- Brand Logo -->
 <!-- <a href="index3.html" class="brand-link">  -->
    <img src="../assets/dist/img/logo.png" alt="AdminLTE Logo"  class="brand-image img-circle elevation-3"  height="180" width="180">
   <!-- <span class="brand-text font-weight-light">Banque</span> -->
  <!-- </a> -->
<div class="sidebar">
  <!-- Sidebar user panel (optional) -->
  <div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
      <img src="../assets/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
    </div>
    <div class="info">
      <a href="#" class="d-block">Administrateur Banque </a>
    </div>
  </div>

  <!-- Sidebar Menu -->
  <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->

           <li class="nav-item">
            <a routerLink="/acceuil" routerLinkActive="active" class="nav-link">
              <i class="fas fa-door-open"></i>
              &nbsp;
              <p>Acceuil</p>
            </a>

      <li class="nav-item">
        <a routerLink="/user" routerLinkActive="active" class="nav-link">
          <i class="fas fa-user-tie"></i>

          &nbsp;
          <p>Gestion Utilisateurs</p>
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="/compte" routerLinkActive="active" class="nav-link">
          <i class="fas fa-bars"></i>
          &nbsp;
          <p>Gestion Comptes</p>
        </a>

        <li class="nav-item">
        <a routerLink="/operation" routerLinkActive="active" class="nav-link">
          <i class="fas fa-money-check-alt"></i>
          &nbsp;
          <p>Gestion des Operations</p>
        </a>


      <li class="nav-item">
      <a routerLink="/credit" routerLinkActive="active" class="nav-link">
        <i class="fas fa-coins"></i>
        &nbsp;
        <p>Gestion des Credits</p>
      </a>

      <li class="nav-item">
        <a routerLink="/mastercard" routerLinkActive="active" class="nav-link">
          <i class="fab fa-cc-mastercard"></i>
          &nbsp;
          <p> Master Card</p>
        </a>






    </ul>
  </nav>
  <!-- /.sidebar-menu -->
</div>
</aside>
